body {
    background-color: black;
    color: red;
    text-align: center;
    border: 20px solid red; /* Add a 5px solid black border around the body */
    margin: 0; /* Remove default margin to ensure the border covers the entire viewport */
    padding: 0; /* Remove default padding */
}
.long-line-break {  /*Long line break at very bottom of page*/
  height: 80px; /* Adjust the height as needed to create the desired space */
}
.image-container {
  display: flex; /* Use flexbox to align images side by side */
}
.image-container img {
  margin-right: 10px; /* Add some space between the images (adjust as needed) */
}
table {
  border-collapse: collapse; /* Merge borders between table cells */
  width: 80%; /* Set the width of the table */
  margin: 20px auto; /* Center the table on the page */
}

th, td {
  border: 1px solid #a59898; /* Add a border to table cells */
  padding: 10px; /* Add some padding to cell content */
  text-align: center; /* Center-align text within cells */
}

th {
  background-color: #443d3d; /* Add a background color to header cells */
}
/*
.pages {
    text-align: left;
}
*/
.page {
    padding: 5px 15px;
    color: silver;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    text-decoration: none;
}

.no-bullet {
    list-style-type: none;
}

.menuLine {
    border: 1px dashed silver;
    width: 500px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: red;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Add a silver background color on mouse-over */
  .topnav a:hover {
    background-color: silver;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
  }
  