body {
    background-color: black;
    color: red;
    text-align: center;
}
/*
.pages {
    text-align: left;
}
*/
.page {
    padding: 5px 15px;
    color: silver;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}

.no-bullet {
    list-style-type: none;
}